{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./src",
          "middleware": "./src/middleware",
          "routes": "./src/routes",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
